@page "/createuser"
@using System.Text
@using System.Text.Json
@using System.Text.Json.Serialization
@using common.Domain;
@inject IHttpClientFactory ClientFactory

<h3>
    Create An Account </h3>

<EditForm Model="@player" OnValidSubmit="@HandleValidSubmit">
    @* <DataAnnotationsValidator />
    <ValidationSummary /> *@

    <div class="said">
        <h4>Welcome to blackjack</h4>
        <label for="email"><b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Email</b></label>
        <input type="text" placeholder="Enter Email"   name="email" required>
       <p> </p> 
       <label for="psw"><b>Password</b></label>
        <input type="password" placeholder="Enter Password" name="psw" required>

    </div>  
    <div class= "Password">


    </div>

 

   
   
    <hr>    
    <hr>
    <p></p>

    <div class="btn-block">
        <button>Submit</button>
    </div>
</EditForm>

<span>@message</span>

@code {
    public string message;

    private User player = new(); 

    private async void HandleValidSubmit()
    {
        var request = new HttpRequestMessage(HttpMethod.Post, "https://localhost:7102/User");
        request.Content = new StringContent(JsonSerializer.Serialize(player), Encoding.UTF8, "application/json");

        var client = ClientFactory.CreateClient();

        var response = await client.SendAsync(request);

        var responseStream = await response.Content.ReadAsStringAsync();

        if (response.IsSuccessStatusCode)
        {
            message = "Player added";
        }
        else
        {
            message = responseStream;            
        }

        StateHasChanged();
    }    
}
